<nav>
  <h2>hey. 
    <br>i'm sam david.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  
  <ul>
    <li><a href="/about.html">about</a>
    </li>
  </ul>
  <div id="bio">
    <p>portland, oregon. </br>
      coffee snob. </br>
      whiskey lover. </br>
       queer.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
