<div id="stalker">
  {% if site.data.theme.social.instagram %}
  <a title="{{ site.data.theme.social.instagram }} on Instagram" href="https://instagram.com/{{ site.data.theme.social.instagram }}/">
    <i class="fab fa-instagram fa-2x"></i>
  </a>
  {% endif %}
  
  {% if site.data.theme.social.github %}
  <a title="{{ site.data.theme.social.github }} on Github" href="https://github.com/{{ site.data.theme.social.github }}">
    <i class="fab fa-github fa-2x"></i>
  </a>
  {% endif %}


  {% if site.data.theme.social.twitter %}
  <a title="{{ site.data.theme.social.twitter }} on Twitter" href="https://twitter.com/{{ site.data.theme.social.twitter }}">
    <i class="fab fa-twitter fa-2x"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.facebook %}
  <a title="{{ site.data.theme.name }} on Facebook" href="https://facebook.com/{{ site.data.theme.social.facebook }}">
    <i class="fab fa-facebook-square fa-2x"></i>
  </a>
  {% endif %}

 

  {% if site.data.theme.social.linkedin %}
  <a title="{{ site.data.theme.name }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.data.theme.social.linkedin }}">
    <i class="fab fa-linkedin fa-2x"></i>
  </a>
  {% endif %}




  {% if site.data.theme.show_atom_feed %}
  <a title="Atom feed" id="atom" href="/atom.xml">
    <i class="fas fa-rss fa-2x"></i>
  </a>
  {% endif %}
</div>
